@import "../theme/media";

.main {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  box-sizing: border-box;

  padding: 20px 10px;

  @include medium {
    padding: 30px 20px;
  }
}

.main-header {
  width: 100%;
  height: 40px;

  flex-shrink: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  border-bottom: 2px solid black;

  font-size: 16px;
  font-weight: 600;

  @include medium {
    height: 50px;

    font-size: 18px;
  }
}

.main-header-text {
  text-decoration: none;
  color: black;
}

.main-content {
  flex-grow: 1;
}

.main-footer {
  width: 100%;
  height: 40px;

  flex-shrink: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  border-top: 2px solid black;

  font-size: 16px;
  font-weight: 600;

  @include medium {
    height: 50px;

    font-size: 18px;
  }
}

.main-post-list {
  list-style-type: none;
  margin: 0;
  padding: 10px 10px;
  box-sizing: border-box;

  @include medium {
    padding: 15px 20px;
  }

  a {
    text-decoration: none;
    color: black;
  }
}

.main-loader {
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.main-error-message {
    width: 100%;
    height: 40px;

    display: flex;
    justify-content: center;
    align-items: center;
}